<div id="<%= dom_id departamento %>">
  <p>
    <strong>Code:</strong>
    <%= departamento.code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= departamento.name %>
  </p>

  <p>
    <strong>Abreviation:</strong>
    <%= departamento.abreviation %>
  </p>

</div>
