<p style="color: green"><%= notice %></p>

<% content_for :title, "Turma alunos" %>

<h1>Turma alunos</h1>

<div id="turma_alunos">
  <% @turma_alunos.each do |turma_aluno| %>
    <%= render turma_aluno %>
    <p>
      <%= link_to "Show this turma aluno", turma_aluno %>
    </p>
  <% end %>
</div>

<%= link_to "New turma aluno", new_turma_aluno_path %>
